@using System.Web
@model CollegWebApp.Domain.ViewModels.Lesson.LessonEditViewModel

<link href="~/lib/Trumbowyg-main/dist/ui/trumbowyg.css" rel="stylesheet" />

<h2>Рудагування уроку</h2>
<form method="post" asp-controller="Lesson" asp-action="Edit">
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <label asp-for="Name"></label><br />
        <input type="text" asp-for="Name" />
        <span asp-validation-for="Name"></span>
    </div>
    <div>
        <label asp-for="Description"></label><br />
        <input type="text" asp-for="Description" />
        <span asp-validation-for="Description"></span>
    </div>
    <div>
        <label asp-for="HtmlContext"></label><br />
        <textarea id="editor" asp-for="HtmlContext"></textarea>
    </div>
    <div>
        <label asp-for="GroupsId"></label><br />
        <select id="Id" name="Name" asp-items="ViewBag.Groups" multiple></select>
        <span asp-validation-for="GroupsId"></span>
    </div>
    <div>
        <input type="submit" value="Зберешти" />
    </div>
</form>

@section scripts{
    <script src="~/lib~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/Trumbowyg-main/dist/trumbowyg.min.js"></script>
    <script>
        @{string text = Model.HtmlContext;}
        var text2 = "@Html.Raw(HttpUtility.JavaScriptStringEncode(text))";
        $('#editor').trumbowyg();

        $('#editor').trumbowyg('html', text2 );
        // . - class
        // # - id
        // nav - html element
    </script>
}