@model CollegWebApp.Domain.Models.Lesson

@{
    ViewData["Title"] = "Home Page";
}

<div >
    <h1>@Model.Name</h1>
    <div>
        @Html.Raw(Model.HtmlContext);
    </div>
    <p>@Model.CreatorId</p>
    <p>@Model.DateTimeCreate</p>
</div>
