@model CollegWebApp.Domain.ViewModels.CreateUserViewModel
@{
    ViewBag.Title = "Додавання користувача";
}
<form asp-action="Create" asp-controller="AdminUsers">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Email" class="control-label">Email</label>
        <input type="text" asp-for="Email" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Password" class="control-label">Пароль</label>
        <input type="password" asp-for="Password" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Name" class="control-label">Ім'я</label>
        <input type="text" asp-for="Name" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="UserSurname" class="control-label">Прізвище</label>
        <input type="text" asp-for="UserSurname" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="UserMiddleName" class="control-label">Побатькові</label>
        <input type="text" asp-for="UserMiddleName" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="UserMiddleName" class="control-label">Дата народження</label>
        <input asp-for="UserDataOfBirth" type="date" asp-format="{0:yyyy-MM}" />
    </div>
    <div class="form-group">
        <label asp-for="UserGroupId" class="control-label">Група</label>
        <select id="Id" name="Name" asp-items="ViewBag.Groups"></select>
    </div>

    <div class="form-group">
        <input type="submit" value="Добавить" class="btn btn-outline-secondary" />
    </div>
</form>