@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <table>
        <tr>
            <td>Імя</td>
            <td>Група</td>
            <td></td>
            <td></td>
        </tr>
        @foreach (var student in Model)
            {
            <tr>
                <td><h3>@student.Uname @student.Name</h3></td>
                <td>@student.Group</td>
                <td><a href="~/Home/Delete/@student.Id">Удалити</a></td>
                <td><a href="~/Home/Edit/@student.Id">Відредактувати</a></td>
            </tr>
        }
    </table>
</div>
