@model CollegWebApp.Domain.ViewModels.ChangeProfessionViewModel
@{
    ViewBag.Title = "Редагування спеціальності";
}
<form asp-action="Edit" method="post">
    <div class="form-group">
        <label asp-for="Name" class="control-label">Назва</label>
        <input type="text" asp-for="Name" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Зберегти</button>
</form>