@model IEnumerable<CollegWebApp.Domain.Models.Profession>
 
<h2>Список спеціальностів</h2>
<table class="table">
    @if (Model.Count() == 0)
    {
        <p>Спеціальності відсутні</p>
    }
    else
    {
        @foreach (var profesion in Model)
        {
            <tr>
                <td>@profesion.Name</td>
                <td>
                    <form asp-action="Delete" asp-route-id="@Convert.ToInt32(profesion.Id)" method="post">
                        <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-id="@Convert.ToInt32(profesion.Id)">Редактувати</a>
                        <button type="submit" class="btn btn-sm btn-danger">
                            Видалити
                        </button>
                    </form>
                </td>
            </tr>
        }
    }
</table>
<a asp-action="Create">Додати спеціальність</a>
@*<a asp-action="UserList">Список користувачів</a>*@